# EDA I

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¬øQu√©-es-el-EDA?" data-toc-modified-id="¬øQu√©-es-el-EDA?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¬øQu√© es el EDA?</a></span></li><li><span><a href="#¬øC√≥mo-realizar-un-an√°lisis-exploratorio-de-datos?" data-toc-modified-id="¬øC√≥mo-realizar-un-an√°lisis-exploratorio-de-datos?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>¬øC√≥mo realizar un an√°lisis exploratorio de datos?</a></span></li><li><span><a href="#Entender-las-variables" data-toc-modified-id="Entender-las-variables-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Entender las variables</a></span><ul class="toc-item"><li><span><a href="#¬øQu√©-informaci√≥n-tenemos?" data-toc-modified-id="¬øQu√©-informaci√≥n-tenemos?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>¬øQu√© informaci√≥n tenemos?</a></span></li><li><span><a href="#¬øTenemos-nulos?" data-toc-modified-id="¬øTenemos-nulos?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>¬øTenemos nulos?</a></span></li><li><span><a href="#Valores-√∫nicos-y-Frecuencia" data-toc-modified-id="Valores-√∫nicos-y-Frecuencia-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Valores √∫nicos y frecuencia</a></span></li></ul></li></ul></div>

## ¬øQu√© es el EDA?

Imaginemos que estamos con un grupo de amigos y nos dicen de ir a comer a un restaurante del que han o√≠do hablar. Sin embargo, no te dicen nada m√°s, no nos dicen qu√© tipo de comida sirven, c√≥mo es el restaurante, el precio medio de la comida etc. En esta situaci√≥n nos podemos ver algo desconcertadas con un mont√≥n de preguntas a las que queremos dar una respuesta para tomar una decisi√≥n.

En esta situaci√≥n, la primera pregunta que nos har√≠amos es: ¬øqu√© tipo de comida sirven? o incluso ver algunas opiniones previas de otros clientes. Es decir, haremos un trabajo de investigaci√≥n para saber si nos interesa ir o no a ese restaurante. Esto no es m√°s que lo que hacen los an√°listas de datos, solo que nosotras lo llamaremos **An√°lisis Exploratorio de Datos** o **EDA**. 

> El An√°lisis Exploratorio de Datos se refiere al proceso de realizar una serie de investigaciones inciales sobre los datos que tenemos para poder descubrir patrones, detectar anomal√≠as, probar hip√≥tesis y comprobar suposiciones con la ayuda de estad√≠sticas y representaciones gr√°ficas. 

Y es que es **ESENCIAL ENTENDER LOS DATOS** y tratar de **OBTENER el mayor n√∫mero de CONOCIMIENTOS** a partir de ellos. 

Sin embargo, es importante tener en cuenta que el an√°lisis exploratorio de datos no es un conjunto de t√©cnicas, pasos o reglas. **El an√°lisis exploratorio es una "filosof√≠a" sobre como se deben analizar los datos** dependiendo en gran parte de las preguntas que queramos responder.

## ¬øC√≥mo realizar un an√°lisis exploratorio de datos?

Como hemos dicho, el EDA no tiene una receta universal que podamos seguir paso a paso. Entonces nos puede surgir la siguiente pregunta:

> **¬øC√≥mo realizar un an√°lisis exploratorio de datos?**
>
>En realidad, esta es una de las preguntas que todo el mundo desea conocer. 

La respuesta es que depende del conjunto de datos con el que se trabaje. No hay un m√©todo o unos m√©todos comunes para llevar a cabo EDA. 

En las pr√≥ximas clases vamos a tratar de entender algunos m√©todos comunes y las parcelas que se utilizan en el proceso de EDA. Estas "parcelas" podr√≠an ser: 

- **Entender las variables**: en esta parte entenderemos qu√© variables tenemos, qu√© tipos de datos, si tenemos valores nulos o duplicados, qu√© valores √∫nicos tenemos en nuestro *dataset*, etc.

- **Limpiar el *dataset***: una vez identificados todos los valores √∫nicos, los duplicados y/o nulos procederemos a dejar nuestro *dataset* lo m√°s limpio posible, es decir, quitar duplicados, nulos, columnas irrelevantes etc. 

- **Analizar las relaciones entre las variables**: nos permitir√° encontrar patrones, relaciones o anomal√≠as en nuestros datos que nos ayudar√°n a sacar conclusiones. 

Cada uno de estos grupos los iremos viendo a lo largo de las sesiones. Hoy empezaremos por la parte de entender las variables.

Antes de empezar importemos las librer√≠as que necesitaremos y el *dataset* con el que trabajaremos a lo largo de esta lecci√≥n.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("datos/students.csv")

## Entender las variables

### ¬øQu√© informaci√≥n tenemos? 

M√©todos como:

- `.head()`
- `.tail()`
- `.describe()`
- `.info()`
- `.dtypes`

nos permitir√°n hacer una primera exploraci√≥n de nuestro *dataset*.

Como siempre lo primero que haremos ser√° ver como es nuestro *dataset*. Para eso, recordamos podemos usar el m√©todo `.head()` que nos mostrar√° las primeras filas o el `.tail()` que nos mostrar√° las √∫ltimas filas.

In [7]:
df.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [8]:
df.tail(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Tambi√©n podemos ver las dimensiones de nuestro set de datos, usando el m√©todo `.shape`:

In [9]:
df.shape

(1000, 8)

Como vemos, nuestros datos est√°n conformados por 1000 filas y 8 columnas con informaci√≥n sobre distintos alumnos relacionada con su sexo, raza, informaci√≥n general sobre la educaci√≥n de sus padres, comida o si hizo el test de preparaci√≥n, adem√°s de una serie de calificaciones.

Si hacemos algo de memoria, recordamos que en Pandas tenemos el m√©todo `.describe()` el cual nos devolv√≠a los par√°metros estad√≠sticos desciptivos para las variables num√©ricas de nuestro *DataFrame*:

In [11]:
df.describe().T

                count    mean        std   min    25%   50%   75%    max
math score     1000.0  66.089  15.163080   0.0  57.00  66.0  77.0  100.0
reading score  1000.0  69.169  14.600192  17.0  59.00  70.0  79.0  100.0
writing score  1000.0  68.054  15.195657  10.0  57.75  69.0  79.0  100.0

In [15]:
# tambi√©n podemos sacar las de las variables categ√≥ricas

df.describe(include = ['O']).T

                            count unique           top freq
gender                       1000      2        female  518
race/ethnicity               1000      5       group C  319
parental level of education  1000      6  some college  226
lunch                        1000      2      standard  645
test preparation course      1000      2          none  642

In [12]:
# o incluso pasando el par√°metro "all" para que nos muestre todas las variables

df.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
gender,1000,2,female,518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race/ethnicity,1000,5,group C,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parental level of education,1000,6,some college,226,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lunch,1000,2,standard,645,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test preparation course,1000,2,none,642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
math score,1000.0,NaN,NaN,NaN,66.089,15.16308,0.0,57.0,66.0,77.0,100.0
reading score,1000.0,NaN,NaN,NaN,69.169,14.600192,17.0,59.0,70.0,79.0,100.0
writing score,1000.0,NaN,NaN,NaN,68.054,15.195657,10.0,57.75,69.0,79.0,100.0

- Para las columnas num√©ricas obtendremos informaci√≥n como la media, desviaci√≥n est√°ndar, percentiles o el m√°ximo y el m√≠nimo. 


- Para las columnas categ√≥ricas tendremos informaci√≥n sobre el recuento, el n√∫mero de valores √∫nicos que tenemos en cada columna, el valor m√°s frecuente (top) o la frecuencia correspondiente a ese valor top.

Ya sabemos cu√°ntas columnas y filas, cu√°les son los principales estad√≠sticos. Ahora es el momento de saber qu√© tipo de datos tenemos en nuestro *dataset*  para lo que miramos su propiedad `.dtypes`:

In [18]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Y aqu√≠ es importante que sepamos qu√© tipos de datos tenemos en Pandas. Ve√°moslos en detalle: 

|   Tipo en Pandas| Tipo en Python  | Descripci√≥n  |  
|---|---|---|
| object  | string  |  El `dtype` m√°s general. Ser√° asignado a tu columna si la columna contiene tipos mixtos (n√∫meros y secuencias de caracteres). |
| int64  | int  | Caracteres num√©ricos. `64` se refiere a la memoria asignada para almacenar el caracter.   |
|  float64 | float  |  Caracteres num√©ricos con decimales. Si una columna contiene n√∫meros y NaNs (ver m√°s abajo), Pandas usar√° `float64` por defecto, en caso de que los datos faltantes contengan decimales. |  
|   datetime, timedelta[ns]  |  librer√≠a [datetime](https://docs.python.org/3/library/datetime.html) Python  |bValores destinados a contener datos de tiempo. Mira en estos para experimentos con series de tiempo.|
|category|no existe|Lista finita de valores de texto.|
|bool|bool|`True` o `False`.|

En Pandas tambi√©n tenemos el m√©todo `.info()` que nos va a dar un peque√±o resumen sobre los tipos de datos, los nulos, las variables que tenemos etc.

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### ¬øTenemos nulos? 

Ahora comprobaremos si hay valores que faltan en nuestro *dataset*, usando el m√©todo `.isnull()`. En caso de que haya valores nulos, las imputaremos con los valores apropiados (moda en caso de caracter√≠stica categ√≥rica, y mediana o media en caso de caracter√≠stica num√©rica).

üìå **NOTA** La imputaci√≥n de valores nulos lo veremos en las lecciones de Limpieza e Imputaci√≥n.

In [19]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Valores √∫nicos y frecuencia

En el caso de las variables categ√≥ricas nos puede resultar muy interesante conocer cuales son los valores √∫nicos que tenemos. Para eso recordemos que tenemos el m√©todo `.unique()` de Pandas.

In [25]:
# saquemos los valores √∫nicos para la columna "gender"

df.gender.unique()

array(['female', 'male'], dtype=object)

Podr√≠amos hacer esto para todas las columnas, pero podr√≠a ser un poco tedioso si tenemos muchas columnas de este tipo. Lo que podemos hacer es hacerlo dentro de un *for loop*.

In [26]:
# sacamos √∫nicamente las variables categ√≥ricas

categoricas = df.select_dtypes(include = "object")
categoricas.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
4,male,group C,some college,standard,none

In [35]:
for col in categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(df[col].unique())
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna gender tenemos los siguientes valores unicos
['female' 'male']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna race/ethnicity tenemos los siguientes valores unicos
['group B' 'group C' 'group A' 'group D' 'group E']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna parental level of education tenemos los siguientes valores unicos
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna lunch tenemos los siguientes valores unicos
['standard' 'free/reduced']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna test preparation course tenemos los siguientes valores unicos
['none' 'completed']

 ------------------------------------------------------------

Tambi√©n podemos sacar la frecuencia de cada una de esas categor√≠as usando el m√©todo `.value_counts()`:

In [38]:
for col in categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(df[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna gender tenemos los siguientes valores unicos
        gender
female     518
male       482

 ------------------------------------------------------------

------------------------------------------------------------

En la columna race/ethnicity tenemos los siguientes valores unicos
         race/ethnicity
group C             319
group D             262
group B             190
group E             140
group A              89

 ------------------------------------------------------------

------------------------------------------------------------

En la columna parental level of education tenemos los siguientes valores unicos
                    parental level of education
some college                                226
associate's degree                          222
high school                                 196
some high school                            179
bachelor's degree                           118
master's degree                              59

 ------------------------------------------------------------

------------------------------------------------------------

En la columna lunch tenemos los siguientes valores unicos
              lunch
standard        645
free/reduced    355

 ------------------------------------------------------------

------------------------------------------------------------

En la columna test preparation course tenemos los siguientes valores unicos
           test preparation course
none                           642
completed                      358

 ------------------------------------------------------------

### EJERCICIOS

EL objetivo de este ejercicio es que uses el dataset de `netflix_titles` y hagas una primer an√°lisis exploratorio del mismo. Para ello tendr√°s que usar los m√©todos que hemos aprendido para conseguir extraer informaci√≥n sobre el *dataset*.

1Ô∏è‚É£ ¬øQu√© tipo de informaci√≥n tenemos?

2Ô∏è‚É£ ¬øCu√°ntas filas y columnas tenemos?

3Ô∏è‚É£ ¬øCu√°les son los principales estad√≠sticos de todas las columnas?

4Ô∏è‚É£ ¬øHay nulos?

5Ô∏è‚É£ ¬øValores √∫nicos de las variables categ√≥ricas.

6Ô∏è‚É£ ¬øFrecuencia de cada una de las categ√≥rias.

‚ö†Ô∏èSomos analistas de datos, no nos vale solo con picar las lineas de c√≥digo. Debemos hacer una interpretaci√≥n de los resultados!