# EDA I

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¿Qué-es-el-EDA?" data-toc-modified-id="¿Qué-es-el-EDA?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¿Qué es el EDA?</a></span></li><li><span><a href="#¿Cómo-realizar-un-análisis-exploratorio-de-datos?" data-toc-modified-id="¿Cómo-realizar-un-análisis-exploratorio-de-datos?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>¿Cómo realizar un análisis exploratorio de datos?</a></span></li><li><span><a href="#Entender-las-variables" data-toc-modified-id="Entender-las-variables-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Entender las variables</a></span><ul class="toc-item"><li><span><a href="#¿Qué-información-tenemos?" data-toc-modified-id="¿Qué-información-tenemos?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>¿Qué información tenemos?</a></span></li><li><span><a href="#¿Tenemos-nulos?" data-toc-modified-id="¿Tenemos-nulos?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>¿Tenemos nulos?</a></span></li><li><span><a href="#Valores-únicos-y-Frecuencia" data-toc-modified-id="Valores-únicos-y-Frecuencia-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Valores únicos y frecuencia</a></span></li></ul></li></ul></div>

## ¿Qué es el EDA?

Imaginemos que estamos con un grupo de amigos y nos dicen de ir a comer a un restaurante del que han oído hablar. Sin embargo, no te dicen nada más, no nos dicen qué tipo de comida sirven, cómo es el restaurante, el precio medio de la comida etc. En esta situación nos podemos ver algo desconcertadas con un montón de preguntas a las que queremos dar una respuesta para tomar una decisión.

En esta situación, la primera pregunta que nos haríamos es: ¿qué tipo de comida sirven? o incluso ver algunas opiniones previas de otros clientes. Es decir, haremos un trabajo de investigación para saber si nos interesa ir o no a ese restaurante. Esto no es más que lo que hacen los análistas de datos, solo que nosotras lo llamaremos **Análisis Exploratorio de Datos** o **EDA**. 

> El Análisis Exploratorio de Datos se refiere al proceso de realizar una serie de investigaciones inciales sobre los datos que tenemos para poder descubrir patrones, detectar anomalías, probar hipótesis y comprobar suposiciones con la ayuda de estadísticas y representaciones gráficas. 

Y es que es **ESENCIAL ENTENDER LOS DATOS** y tratar de **OBTENER el mayor número de CONOCIMIENTOS** a partir de ellos. 

Sin embargo, es importante tener en cuenta que el análisis exploratorio de datos no es un conjunto de técnicas, pasos o reglas. **El análisis exploratorio es una "filosofía" sobre como se deben analizar los datos** dependiendo en gran parte de las preguntas que queramos responder.

## ¿Cómo realizar un análisis exploratorio de datos?

Como hemos dicho, el EDA no tiene una receta universal que podamos seguir paso a paso. Entonces nos puede surgir la siguiente pregunta:

> **¿Cómo realizar un análisis exploratorio de datos?**
>
>En realidad, esta es una de las preguntas que todo el mundo desea conocer. 

La respuesta es que depende del conjunto de datos con el que se trabaje. No hay un método o unos métodos comunes para llevar a cabo EDA. 

En las próximas clases vamos a tratar de entender algunos métodos comunes y las parcelas que se utilizan en el proceso de EDA. Estas "parcelas" podrían ser: 

- **Entender las variables**: en esta parte entenderemos qué variables tenemos, qué tipos de datos, si tenemos valores nulos o duplicados, qué valores únicos tenemos en nuestro *dataset*, etc.

- **Limpiar el *dataset***: una vez identificados todos los valores únicos, los duplicados y/o nulos procederemos a dejar nuestro *dataset* lo más limpio posible, es decir, quitar duplicados, nulos, columnas irrelevantes etc. 

- **Analizar las relaciones entre las variables**: nos permitirá encontrar patrones, relaciones o anomalías en nuestros datos que nos ayudarán a sacar conclusiones. 

Cada uno de estos grupos los iremos viendo a lo largo de las sesiones. Hoy empezaremos por la parte de entender las variables.

Antes de empezar importemos las librerías que necesitaremos y el *dataset* con el que trabajaremos a lo largo de esta lección.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("datos/students.csv")

## Entender las variables

### ¿Qué información tenemos? 

Métodos como:

- `.head()`
- `.tail()`
- `.describe()`
- `.info()`
- `.dtypes`

nos permitirán hacer una primera exploración de nuestro *dataset*.

Como siempre lo primero que haremos será ver como es nuestro *dataset*. Para eso, recordamos podemos usar el método `.head()` que nos mostrará las primeras filas o el `.tail()` que nos mostrará las últimas filas.

In [7]:
df.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [8]:
df.tail(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

También podemos ver las dimensiones de nuestro set de datos, usando el método `.shape`:

In [9]:
df.shape

(1000, 8)

Como vemos, nuestros datos están conformados por 1000 filas y 8 columnas con información sobre distintos alumnos relacionada con su sexo, raza, información general sobre la educación de sus padres, comida o si hizo el test de preparación, además de una serie de calificaciones.

Si hacemos algo de memoria, recordamos que en Pandas tenemos el método `.describe()` el cual nos devolvía los parámetros estadísticos desciptivos para las variables numéricas de nuestro *DataFrame*:

In [11]:
df.describe().T

                count    mean        std   min    25%   50%   75%    max
math score     1000.0  66.089  15.163080   0.0  57.00  66.0  77.0  100.0
reading score  1000.0  69.169  14.600192  17.0  59.00  70.0  79.0  100.0
writing score  1000.0  68.054  15.195657  10.0  57.75  69.0  79.0  100.0

In [15]:
# también podemos sacar las de las variables categóricas

df.describe(include = ['O']).T

                            count unique           top freq
gender                       1000      2        female  518
race/ethnicity               1000      5       group C  319
parental level of education  1000      6  some college  226
lunch                        1000      2      standard  645
test preparation course      1000      2          none  642

In [12]:
# o incluso pasando el parámetro "all" para que nos muestre todas las variables

df.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
gender,1000,2,female,518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race/ethnicity,1000,5,group C,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parental level of education,1000,6,some college,226,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lunch,1000,2,standard,645,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test preparation course,1000,2,none,642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
math score,1000.0,NaN,NaN,NaN,66.089,15.16308,0.0,57.0,66.0,77.0,100.0
reading score,1000.0,NaN,NaN,NaN,69.169,14.600192,17.0,59.0,70.0,79.0,100.0
writing score,1000.0,NaN,NaN,NaN,68.054,15.195657,10.0,57.75,69.0,79.0,100.0

- Para las columnas numéricas obtendremos información como la media, desviación estándar, percentiles o el máximo y el mínimo. 


- Para las columnas categóricas tendremos información sobre el recuento, el número de valores únicos que tenemos en cada columna, el valor más frecuente (top) o la frecuencia correspondiente a ese valor top.

Ya sabemos cuántas columnas y filas, cuáles son los principales estadísticos. Ahora es el momento de saber qué tipo de datos tenemos en nuestro *dataset*  para lo que miramos su propiedad `.dtypes`:

In [18]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Y aquí es importante que sepamos qué tipos de datos tenemos en Pandas. Veámoslos en detalle: 

|   Tipo en Pandas| Tipo en Python  | Descripción  |  
|---|---|---|
| object  | string  |  El `dtype` más general. Será asignado a tu columna si la columna contiene tipos mixtos (números y secuencias de caracteres). |
| int64  | int  | Caracteres numéricos. `64` se refiere a la memoria asignada para almacenar el caracter.   |
|  float64 | float  |  Caracteres numéricos con decimales. Si una columna contiene números y NaNs (ver más abajo), Pandas usará `float64` por defecto, en caso de que los datos faltantes contengan decimales. |  
|   datetime, timedelta[ns]  |  librería [datetime](https://docs.python.org/3/library/datetime.html) Python  |bValores destinados a contener datos de tiempo. Mira en estos para experimentos con series de tiempo.|
|category|no existe|Lista finita de valores de texto.|
|bool|bool|`True` o `False`.|

En Pandas también tenemos el método `.info()` que nos va a dar un pequeño resumen sobre los tipos de datos, los nulos, las variables que tenemos etc.

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### ¿Tenemos nulos? 

Ahora comprobaremos si hay valores que faltan en nuestro *dataset*, usando el método `.isnull()`. En caso de que haya valores nulos, las imputaremos con los valores apropiados (moda en caso de característica categórica, y mediana o media en caso de característica numérica).

📌 **NOTA** La imputación de valores nulos lo veremos en las lecciones de Limpieza e Imputación.

In [19]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Valores únicos y frecuencia

En el caso de las variables categóricas nos puede resultar muy interesante conocer cuales son los valores únicos que tenemos. Para eso recordemos que tenemos el método `.unique()` de Pandas.

In [25]:
# saquemos los valores únicos para la columna "gender"

df.gender.unique()

array(['female', 'male'], dtype=object)

Podríamos hacer esto para todas las columnas, pero podría ser un poco tedioso si tenemos muchas columnas de este tipo. Lo que podemos hacer es hacerlo dentro de un *for loop*.

In [26]:
# sacamos únicamente las variables categóricas

categoricas = df.select_dtypes(include = "object")
categoricas.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
4,male,group C,some college,standard,none

In [35]:
for col in categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(df[col].unique())
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna gender tenemos los siguientes valores unicos
['female' 'male']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna race/ethnicity tenemos los siguientes valores unicos
['group B' 'group C' 'group A' 'group D' 'group E']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna parental level of education tenemos los siguientes valores unicos
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna lunch tenemos los siguientes valores unicos
['standard' 'free/reduced']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna test preparation course tenemos los siguientes valores unicos
['none' 'completed']

 ------------------------------------------------------------

También podemos sacar la frecuencia de cada una de esas categorías usando el método `.value_counts()`:

In [38]:
for col in categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(df[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna gender tenemos los siguientes valores unicos
        gender
female     518
male       482

 ------------------------------------------------------------

------------------------------------------------------------

En la columna race/ethnicity tenemos los siguientes valores unicos
         race/ethnicity
group C             319
group D             262
group B             190
group E             140
group A              89

 ------------------------------------------------------------

------------------------------------------------------------

En la columna parental level of education tenemos los siguientes valores unicos
                    parental level of education
some college                                226
associate's degree                          222
high school                                 196
some high school                            179
bachelor's degree                           118
master's degree                              59

 ------------------------------------------------------------

------------------------------------------------------------

En la columna lunch tenemos los siguientes valores unicos
              lunch
standard        645
free/reduced    355

 ------------------------------------------------------------

------------------------------------------------------------

En la columna test preparation course tenemos los siguientes valores unicos
           test preparation course
none                           642
completed                      358

 ------------------------------------------------------------

### EJERCICIOS

EL objetivo de este ejercicio es que uses el dataset de `netflix_titles` y hagas una primer análisis exploratorio del mismo. Para ello tendrás que usar los métodos que hemos aprendido para conseguir extraer información sobre el *dataset*.

1️⃣ ¿Qué tipo de información tenemos?

2️⃣ ¿Cuántas filas y columnas tenemos?

3️⃣ ¿Cuáles son los principales estadísticos de todas las columnas?

4️⃣ ¿Hay nulos?

5️⃣ ¿Valores únicos de las variables categóricas.

6️⃣ ¿Frecuencia de cada una de las categórias.

⚠️Somos analistas de datos, no nos vale solo con picar las lineas de código. Debemos hacer una interpretación de los resultados!